@font-face {
    font-family: 'Cassandra Personal Use';
    src: url('CassandraPersonalUse-Regular.woff2') format('woff2'),
        url('CassandraPersonalUse-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

