/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

/* container */
.container {
  background-color: #fafafa;
  transform-origin: top left;
  min-width: 100vh;
  padding: 50px;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

.content-heading {
  margin: 0;
}

.content-author {
  color: #555;
  font-style: italic;
}

.content-text {
  color: #333;
  line-height: 1.5;
}

.content-img {
  display: flex;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.container.show-nav + .sitenav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.sitenav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

.sitenav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.sitenav-item {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

.sitenav-item i {
  font-size: 20px;
  margin-right: 10px;
}

.sitenav-list li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

.sitenav-list li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.fa-home {
}
.fa-user-alt {
}
.fa-envelope {
}
